<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006824825789-2c17595oenob6vi40jbfnq8bukllv4g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006824825789-2c17595oenob6vi40jbfnq8bukllv4g7</string>
	<key>API_KEY</key>
	<string>AIzaSyBB-Msj8P-FNaiJRls6TzuD31T4We4hUk4</string>
	<key>GCM_SENDER_ID</key>
	<string>1006824825789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thiagomonteiro.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-84516</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-84516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006824825789:ios:6e74a481c5c068d525e8d4</string>
</dict>
</plist>